* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111;
    font-family: 'Lexend', sans-serif;
}

div.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 div.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 div.container form#main {
    width: fit-content;
    background: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
 }

 div.container form#main input#submit {
    width: 80%;
    padding: 10px;
    margin: 10px;
    background: #222;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .1s;
 }

 div.container form#main input#submit:hover {
    background: #111;
    transition: all .1s;
    cursor: pointer;
 }

 div.container form#main input#image {
    display: none;
 }

 div.container form#main label svg {
    padding: 20px;
    font-size: 45px;
    transition: all .1s;
    margin: 20px;
 }

 div.container form#main label svg:hover {
    font-size: 50px;
    transition: all .1s;
    cursor: pointer;
 }

 div.container form#main p {
    font-size: 13px;
    margin: 10px;
    font-weight: bold;
 }

 div.container form#main input#submit {
   width: 80%;
   padding: 10px;
   margin: 10px;
}

div.container form#main input#image {
   width: 80%;
   padding: 5px;
   margin: 50px;
}

div.container form#main p {
   font-size: 13px;
   margin: 10px;
   font-weight: bold;
}

div.container form#main  h1#success {
   color: green;        
}

div.container form#main  h1#failure {
   color: red;        
}

div.container form#main  h3 {
   font-size: 20px;
   padding: 30px;
}

div.container a {
   text-decoration: none;
   background-color: #222;
   padding: 10px;
   margin: 15px;
   color: #fff;
   border-radius: 5px;
   transition: all .1s;
}

div.container a:hover {
   background: #111;
   transition: all .1s;
   cursor: pointer;
}

div.container a#cp {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 20px;
}

div.container div.header {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

div.container table {
    padding: 10px;
    border-collapse: collapse;
    color: #a3a3a3;
}

div.container table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

div.container table tr:nth-child(even) {
    background-color: #222;
}

div.container table tr:nth-child(odd) {
    background-color: #1a1a1a;
}

div.container table button#delete {
    border: none;
    background-color: red;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .1s;
}

div.container table button#delete:hover {
    background-color: #540000;
    transition: background-color .1s;
}

a#user_add {
    display: block;
}

div.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
}

div.modal div.modal-content {
   background-color: #333;
   border-radius: 5px;
}

div.modal div.modal-content div.modal-header {
   border-radius: 5px 5px 0px 0px;
   background-color: #222;
   color: #fff;
   display: flex;
   justify-content: end;
}

div.modal div.modal-content div.modal-header span.close {
   padding: 6px 10px;
   cursor: pointer;
}

div.modal div.modal-content div.modal-body {
   padding: 10px;
}

form#user_add {
   padding: 10px;
}

form#user_add label {
   display: block;
   color: #fff;
}

form#user_add input {
   margin: 10px 0px;
}

form#user_add input#submit {
   width: 100%;
   background-color: #222;
   border: none;
   color: #fff;
   font-weight: bold;
   padding: 10px;
   border-radius: 5px;
   transition: background-color .1s;
}

form#user_add input#submit:hover {
   background-color: #111;
   transition: background-color .1s;
}