* {
   padding: 0px;
   margin: 0px;
}

body {
   font-family: 'Hind', sans-serif;
   font-family: 'Lexend', sans-serif;
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background: #222;
}

.container {
   width: fit-content;
   background: #111;
   text-align: center;
   color: #fff;
   padding: 30px;
   border: #333 2px solid;
   border-radius: 5px;
}

.container-header {
   display: block;
   margin-bottom: 30px;
   text-align: left;
}

.container-text {
   display: block;
}

.container-fotter {
   font-size: 13px;
   padding: 10px;
   color: #888;
}

.container-label {
   display: block;
   padding: 10px;
   margin: 5px 0px;
}

.container-table {
   margin-top: 20px;
   padding: 10px;
   border-collapse: collapse;
   color: #a3a3a3;
}

.container-table td, th  {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

.custom-file-upload {
   display: block;
   font-size: 50px;
   padding: 20px;
   margin: 10px;
   transition: fill .2s all;
}

.custom-file-upload:hover > svg {
   fill: #bbb;
   cursor: pointer;
   transition: fill .2s all;
}

.button {
   text-decoration: none;
   background: #222;
   color: #fff;
   padding: 10px 20px;
   margin-bottom: 10px;
   border: 2px solid #333;
   border-radius: 5px;
   font-weight: bold;
   text-transform: uppercase;
   transition: background .1s all;
}

.button-sm {
   font-size: 10px;
}

.button:hover {
   cursor: pointer;
   background: #111;
   transition: background .1s all;
}

.green {
   color: green;
}

.red {
   color: red;
}

.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
   display: flex;
   text-align: left;
   background-color: #111;
   border: 2px solid #222;
   border-radius: 5px;
   color: #fff;
   padding: 15px;
}

.modal-left {
   display: inline-block;
   width: 49%;
}

.modal-right {
   display: inline-block;
   width: 49%;
}

.modal-input {
   width: 100%;
}

.modal-button {
   text-decoration: none;
   background: #222;
   color: #fff;
   padding: 10px 20px;
   border: 2px solid #333;
   border-radius: 5px;
   font-weight: bold;
   text-transform: uppercase;
   transition: background .1s all;
   margin-top: 10px;
}

.modal-button:hover {
   cursor: pointer;
   background: #111;
   transition: background .1s all;
}

.form-button {
   width: 100%;
   padding: 5px 0px;
   text-decoration: none;
   background: red;
   color: #fff;
   border: 2px solid rgb(123, 0, 0);
   border-radius: 5px;
   font-weight: bold;
   text-transform: uppercase;
   transition: background .1s all;
}

.form-button:hover {
   cursor: pointer;
   background: rgb(92, 0, 0);
   transition: background .1s all;
}