<html lang="en">
   <head>
      <title>Garage | Auth</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
   </head>
   <body>
      <div class="container">
         <form method="post" enctype="multipart/form-data">
            <h1 id="failure">Failure</h1>
            <br>
            <h2>Your car does not have access <br> to this garage</h2>
            <br>
            <a href="/">Continue</a>
         </form>
      </div>
   </body>
</html>