<html lang="en">
   <head>
      <title>Garage | Auth</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
   </head>
   <body>
      <div class="container">
         <form id="main">
            <h1 id="success">Success</h1>
            <br>
            <h2>Your car has been approved <br> the ramp will rise shortly</h2>
            <h3>{{response}}</h3>
            <a href="/">Continue</a>
         </form>
      </div>
   </body>
</html>